@use "./partials/variables" as c;
@import "bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: c.$main-color;
}

main {
    width: 80%;
    margin: 0 auto;
    background-color: c.$bg-color;
}